<div class="col s12 m3 l2">
    <div class="">
        <ul class="section table-of-contents fixed">
            <li>Menu</li>
            <% for (var i = 0; i < menu_links.length; i++) { %>
                <li>
                    <a  <%= current_page == menu_links[i].link.split('/')[menu_links[i].link.split('/').length - 1] ? "class=active" : "" %>
                        href="<%= menu_links[i].link %>"
                    ><%= menu_links[i].name %></a>
                </li>
            <% } %>
        </ul>
    </div>
</div>
<div class="hide-on-med-and-up show-on-small row"><div class="col s12"><div style="height: 5px;"></div></div></div>