<!DOCTYPE html>
<html lang="en">
<head>
    <title>VersionsTrack - 404</title>
</head>

<body class="rtl login-background">
    <div id="page_content">
        <h1>404</h1>
    </div>

    <%// include ../partials/footer.html %>
</body>
</html>