<!DOCTYPE html>
<html lang="en">
<head>
    <title>VersionsTrack - Banned</title>
</head>

<body class="rtl login-background">
<div id="page_content">
    <h1>Banned user</h1>
</div>

<%// include ../partials/footer.html %>
</body>
</html>