<!DOCTYPE html>
<html lang="en">
<head>
    <title>Qualification System - Banned</title>
</head>

<body class="rtl login-background">
<div id="page_content">
    <h1>Banned user</h1>
</div>

<% include ../partials/global/footer.html %>
</body>
</html>