.menu-icon-2, .menu-icon-1 {
  width: 18.5px;
  height: $navbar-height - 10px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: block;
}
@media only screen and (max-width : 600px) {
  .menu-icon-2, .menu-icon-1 {
    height: calc(56px - 10px);
  }
}

.menu-icon-1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.menu-icon-1 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}
.menu-icon-1 span:nth-child(odd) {
  left: 0;
  border-radius: 9px 0 0 9px;
}
.menu-icon-1 span:nth-child(1), .menu-icon-1 span:nth-child(2) {
  top: 0;
}
.menu-icon-1 span:nth-child(3), .menu-icon-1 span:nth-child(4) {
  top: 18px;
}
.menu-icon-1 span:nth-child(5), .menu-icon-1 span:nth-child(6) {
  top: 36px;
}
.menu-icon-1.open span:nth-child(1), .menu-icon-1.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-icon-1.open span:nth-child(2), .menu-icon-1.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-icon-1.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}
.menu-icon-1.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
.menu-icon-1.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.menu-icon-1.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.menu-icon-1.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}
.menu-icon-1.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.menu-icon-2 span {
  display: block;
  position: absolute;
  height: 2.4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  right: -3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.menu-icon-2 span:nth-child(1) {
  top: 48%;
}
.menu-icon-2 span:nth-child(2), .menu-icon-2 span:nth-child(3) {
  top: calc(2.4px * 2 + 48%);
}
.menu-icon-2 span:nth-child(4) {
  top: calc(2.4px * 4 + 48%);
}
.menu-icon-2.open span:nth-child(1) {
  width: 0;
  left: 0;
}
.menu-icon-2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-icon-2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-icon-2.open span:nth-child(4) {
  width: 0;
  right: 0;
}