// Variables

// 1. Page sticky header
//$page-sticky-header-bg: rgba(173, 225, 255, 0.86);
$page-sticky-header-height: 80px;
$page-sticky-header-basic-bg: rgb(173, 225, 255);
$page-sticky-header-bg: rgba($page-sticky-header-basic-bg, 1);


// 2. Search


// 2.1 Advanced Search
$advanced-search-input-bg-color: #61c5ff;