<!--Show specific plan details-->
<script type="text/javascript" src="/resources/js/dragon-drop.js"></script>

<div ng-init="init_modify_plan_page('<%= plan_name_for_details %>');">
    <h4>{{original_plan_name}}</h4><br>
    <form name="plan_form" ng-submit="plan_form.$valid && modify_plan(original_plan_name, plan_data);">
        <div class="row">
            <div class="input-field col s12">
                <input id="plan_name" ng-model="plan_data.name" type="text" class="validate">
                <label for="plan_name">Plan Name</label>
            </div>
        </div>

        <label>
            <input ng-model="plan_data.is_active" type="checkbox" />
            <span>Active</span>
        </label><br><br>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" ng-model="plan_data.description" class="validate materialize-textarea"></textarea>
                <label for="description">Description</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="estimated_days" ng-model="plan_data.estimated_days" type="number" class="validate">
                <label for="estimated_days">Estimated Days</label>
            </div>
        </div>

        <div class="row" id="route_editing">
            <div ng-repeat="topic in utils.values(topics_data_with_tasks_list || {}) | orderBy: ['topic_order']">
                <div ng-show="plan_form['topic_checkbox_' + topic.name].$invalid"><!--TODO make it prettier-->
                    <span ng-show="plan_form['topic_checkbox_' + topic.name].$error.dependencies_come_first" class="label label-danger">This topic is a dependency of topics: {{all_dependencies_topics[topic.name]}}, It must come before them.</span>
                    <span ng-show="plan_form['topic_checkbox_' + topic.name].$error.required" class="label label-danger">This topic is a dependency of topics: {{all_dependencies_topics[topic.name]}}, you must select it.</span>
                </div>
                <br ng-hide="plan_form['topic_checkbox_' + topic.name].$invalid">
                <button aria-describedby="global-help" type="button" class="fa fa-bars dragon-handle" aria-labelledby="band-button-4 band-text-4" aria-pressed="false" data-drag-on="false"></button>
                <label>
                    <input ng-required="all_dependencies_topics[topic.name]"
                           ng-change="check_for_topic_dependencies();"
                           ng-model="selected_topics[topic.name]"
                           data-dependency-order-validation
                           name="topic_checkbox_{{topic.name}}" type="checkbox" class="filled-in">
                    <span data-topic-name="{{topic.name}}">{{topic.name}}</span>
                    <span data-topic-dependencies="{{topic.dependencies_topics}}">{{topic.dependencies_topics.length ? "- Dependencies: " + topic.dependencies_topics : ""}}</span>
                </label>
                <div style="padding-left: 55px;" ng-show="selected_topics[topic.name]" ng-repeat="task in topic.related_tasks">
                    <label>
                        <input type="checkbox">
                        <span data-task-id="{{task._id}}">{{task.title}}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <button type="submit" class="col s12 waves-effect waves-green btn-flat">Update</button>
            </div>
            <div class="col s6">
                <button type="reset" ng-click="back_to_parent_category();" class="col s12 waves-effect waves-red btn-flat">Cancel</button>
            </div>
        </div>
    </form>
</div>