<!--Show specific plan details-->
<div ng-init="get_plan_details('<%= plan_name_for_details %>');">
    <h4>{{original_plan_name}}</h4><br>
    <form ng-submit="modify_plan(original_plan_name, plan_data);">
        <div class="row">
            <div class="input-field col s12">
                <input id="plan_name" ng-model="plan_data.name" type="text" class="validate">
                <label for="plan_name">Plan Name</label>
            </div>
        </div>

        <label>
            <input ng-model="plan_data.is_active" type="checkbox" />
            <span>Active</span>
        </label><br><br>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" ng-model="plan_data.description" class="validate materialize-textarea"></textarea>
                <label for="description">Description</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="estimated_days" ng-model="plan_data.estimated_days" type="number" class="validate">
                <label for="estimated_days">Estimated Days</label>
            </div>
        </div>

        <!--TODO rout editing-->

        <div class="row">
            <div class="col s6">
                <button type="submit" class="col s12 waves-effect waves-green btn-flat">Update</button>
            </div>
            <div class="col s6">
                <button type="reset" ng-click="back_to_parent_category();" class="col s12 waves-effect waves-red btn-flat">Cancel</button>
            </div>
        </div>
    </form>
</div>