<% if (typeof action === 'undefined') { %>
    <!--Show all users list-->
    <span ng-init="get_all_plans();"></span>
    <ul class="collapsible popout">
        <li ng-repeat="plan_data in plans_list | orderBy: ['-is_active', 'name']">
            <div class="collapsible-header" ng-class="{grey: !plan_data.is_active}">{{plan_data.name}}</div>

            <div class="collapsible-body">
                <div ng-if="!plan_data.is_active">
                    <div class="valign-wrapper flash flash-warn" style="width: 100%;">
                        <i class="material-icons" style="padding-right: 5px;">warning</i>
                        This plan is currently inactive.
                    </div>
                </div>
                <div>{{plan_data.description}}</div>
            </div>

            <div class="collapsible-footer">
                <a class="btn-small waves-effect waves-light"
                   href="/view/admin-panel/plans-management/p{{plan_data.name}}"
                   title="Management">
                    <i class="material-icons">settings</i>
                </a>

                <a ng-if="plan_data.is_active"
                   class="btn-small waves-effect waves-light"
                   ng-click="archive_plan(plan_data.name);"
                   title="Archive">
                    <i class="material-icons">archive</i>
                </a>

                <a ng-if="!plan_data.is_active"
                   class="btn-small waves-effect waves-light"
                   ng-click="reactivate_plan(plan_data.name);"
                   title="Reactivate">
                    <i class="material-icons">unarchive</i>
                </a>

                <a class="btn-small waves-effect waves-light"
                   ng-click="delete_plan(plan_data.name);"
                   title="Delete">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="col s12 m4">
            <a class="btn-small btn-floating waves-effect waves-light" href="/view/admin-panel/plans-management/new-plan">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
<% } else if (action == "view" && typeof plan_name_for_details !== "undefined") { %>
    <!--Show specific user details-->
    <div ng-init="get_plan_details('<%= plan_name_for_details %>');">
        <h4>{{original_plan_name}}</h4><br>
        <form ng-submit="modify_plan(original_plan_name, plan_data);">
            <div class="row">
                <div class="input-field col s12">
                    <input id="plan_name" ng-model="plan_data.name" type="text" class="validate">
                    <label for="plan_name">Plan Name</label>
                </div>
            </div>

            <label>
                <input ng-model="plan_data.is_active" type="checkbox" />
                <span>Active</span>
            </label><br><br>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" ng-model="plan_data.description" class="validate materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="estimated_days" ng-model="plan_data.estimated_days" type="number" class="validate">
                    <label for="estimated_days">Estimated Days</label>
                </div>
            </div>

            <!--TODO rout editing-->

            <div class="row">
                <div class="col s6">
                    <button type="submit" class="col s12 waves-effect waves-green btn-flat">Update</button>
                </div>
                <div class="col s6">
                    <button type="reset" ng-click="back_to_parent_category();" class="col s12 waves-effect waves-red btn-flat">Cancel</button>
                </div>
            </div>
        </form>
    </div>
<% } else if (action == "create") { %>
    <!--Create new plan-->
    <h4>Create New Plan</h4><br>
    <div class="row" ng-init="plan_data = {};">
        <form class="col s12" ng-submit="create_plan(plan_data);">
            <div class="row">
                <div class="input-field col s12">
                    <input id="plan_name" ng-model="plan_data.name" type="text" class="validate">
                    <label for="plan_name">Plan Name</label>
                </div>
            </div>

            <label>
                <input ng-model="plan_data.is_active" ng-init="plan_data.is_active = true;" type="checkbox" />
                <span>Active</span>
            </label><br><br>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" ng-model="plan_data.description" class="validate materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="estimated_days" ng-model="plan_data.estimated_days" type="number" class="validate">
                    <label for="estimated_days">Estimated Days</label>
                </div>
            </div>

            <!--TODO rout creating-->

            <div class="row">
                <div class="col s6">
                    <button type="submit" class="col s12 waves-effect waves-green btn-flat">Create</button>
                </div>
                <div class="col s6">
                    <button type="reset" ng-click="back_to_parent_category();" class="col s12 waves-effect waves-red btn-flat">Cancel</button>
                </div>
            </div>
        </form>
    </div>
<% } %>