<% if (typeof action === 'undefined') { %>
    <!--Show all users list-->
    <div class="row" ng-init="get_all_users(); current_username = '<%=username%>';">
        <div class="col s6 m3"><b>Username</b></div>
        <div class="col s4 m1"><b>Role</b></div>
        <div class="col s2 m1"><b>Actions</b></div>
    </div>
    <div class="row" ng-repeat="user_data in users_list | orderBy: ['-role']">
        <div ng-class="{'selected-row': user_data.username === current_username}" class="col s6 m3">
            <b ng-if="user_data.username === current_username">
                <a href="/view/admin-panel/users-management/u{{user_data.username}}">{{user_data.username}}</a>
            </b>
            <span ng-if="user_data.username !== current_username">
                <a href="/view/admin-panel/users-management/u{{user_data.username}}">{{user_data.username}}</a>
            </span>
        </div>
        <div ng-class="{'selected-row': user_data.username === current_username}" class="col s4 m1">
            <b ng-if="user_data.username === current_username">
                {{get_role_name(user_data.role)}}
            </b>
            <span ng-if="user_data.username !== current_username">
                {{get_role_name(user_data.role)}}
            </span>
        </div>
        <div ng-if="user_data.username !== current_username" class="col s2 m1">
            <button class="red btn-small btn-floating waves-effect waves-light" ng-click="delete_user(user_data.username)">
                <i class="material-icons">delete</i>
            </button>
        </div>
    </div>
    <div class="row" ng-init="get_all_users()">
        <div class="col s12 m4">
            <a class="btn-small btn-floating waves-effect waves-light" href="/view/admin-panel/users-management/new-user">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
<% } else if (action == "view" && typeof username_for_details !== "undefined") { %>
    <!--Show specific user details-->
    <div ng-init="get_user_details('<%= username_for_details %>')">
        <h4>{{user_data.username}}</h4><br>
        <form ng-submit="modify_user(user_data.username);">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="user_role">
                        <option value="3">Admin</option>
                        <option value="2">Manger</option>
                        <option value="1">User</option>
                        <option value="0">Banned</option>
                    </select>
                    <label for="user_role">Role</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button type="submit" class="col s12 waves-effect waves-green btn-flat">Update</button>
                </div>
                <div class="col s6">
                    <button type="reset" ng-click="back_to_users_management();" class="col s12 waves-effect waves-red btn-flat">Cancel</button>
                </div>
            </div>
        </form>
    </div>
<% } else if (action == "create") { %>
    <!--Create new user-->
    <h4>Create New User</h4><br>
    <div class="row">
        <form class="col s12" ng-submit="create_user();">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" required="required">
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" required="required">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="user_role">
                        <option value="3">Admin</option>
                        <option value="2">Manger</option>
                        <option selected value="1">User</option>
                        <option value="0">Banned</option>
                    </select>
                    <label for="user_role">Role</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button type="submit" class="col s12 waves-effect waves-green btn-flat">Create user</button>
                </div>
                <div class="col s6">
                    <button type="reset" ng-click="back_to_users_management();" class="col s12 waves-effect waves-red btn-flat">Cancel</button>
                </div>
            </div>
        </form>
    </div>
<% } %>