<span ng-init="init_tasks_page();"></span>

<% if (typeof action === 'undefined') { %>
    <%- include('view_list_pages/tasks.ejs');%>
<% } else if (action == "view" && typeof task_id_for_details !== "undefined") { %>
    <%- include('modify_pages/tasks.ejs');%>
<% } else if (action == "create") { %>
    <%- include('create_pages/tasks.ejs');%>
<% } %>