<span ng-init="init_topics_page();"></span>

<% if (typeof action === 'undefined') { %>
    <!--Show all users list-->
    <span ng-init="get_all_topics();"></span>
    <ul class="collapsible popout">
        <li ng-repeat="topic_data in topics_list | orderBy: ['-is_active', 'name']">
            <div class="collapsible-header" ng-class="{grey: !topic_data.is_active}">{{topic_data.name}}</div>

            <div class="collapsible-body">
                <div ng-if="!topic_data.is_active">
                    <div class="valign-wrapper flash flash-warn" style="width: 100%;">
                        <i class="material-icons" style="padding-right: 5px;">warning</i>
                        This topic is currently inactive.
                    </div>
                </div>
                <div>{{topic_data.description}}</div>
            </div>

            <div class="collapsible-footer">
                <a class="btn-small waves-effect waves-light"
                   href="/view/admin-panel/topics-management/t{{topic_data.name}}"
                   title="Management">
                    <i class="material-icons">settings</i>
                </a>

                <a ng-if="topic_data.is_active"
                   class="btn-small waves-effect waves-light"
                   ng-click="archive_topic(topic_data.name);"
                   title="Archive">
                    <i class="material-icons">archive</i>
                </a>

                <a ng-if="!topic_data.is_active"
                   class="btn-small waves-effect waves-light"
                   ng-click="reactivate_topic(topic_data.name);"
                   title="Reactivate">
                    <i class="material-icons">unarchive</i>
                </a>

                <a class="btn-small waves-effect waves-light"
                   ng-click="delete_topic(topic_data.name);"
                   title="Delete">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </li>
    </ul>
    <div class="row">
        <div class="col s12 m4">
            <a class="btn-small btn-floating waves-effect waves-light" href="/view/admin-panel/topics-management/new-topic">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
<% } else if (action == "view" && typeof topic_name_for_details !== "undefined") { %>
    <!--Show specific user details-->
    <div ng-init="get_topic_details('<%= topic_name_for_details %>');">
        <h4>{{original_topic_name}}</h4><br>
        <form ng-submit="modify_topic(original_topic_name, topic_data);">
            <div class="row">
                <div class="input-field col s12">
                    <input id="topic_name" ng-model="topic_data.name" type="text" class="validate">
                    <label for="topic_name">Topic Name</label>
                </div>
            </div>

            <label>
                <input ng-model="topic_data.is_active" type="checkbox" />
                <span>Active</span>
            </label><br><br>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" ng-model="topic_data.description" class="validate materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 chips" id="dependencies_topics"></div>
            </div>

            <div class="row">
                <div class="col s6">
                    <button type="submit" class="col s12 waves-effect waves-green btn-flat">Update</button>
                </div>
                <div class="col s6">
                    <button type="reset" ng-click="back_to_parent_category();" class="col s12 waves-effect waves-red btn-flat">Cancel</button>
                </div>
            </div>
        </form>

        <!--TODO tasks topic in-order rearrange-->

    </div>
<% } else if (action == "create") { %>
    <!--Create new topic-->
    <h4>Create New Topic</h4><br>
    <span ng-init="init_create_new_topic_page();"></span>
    <div class="row">
        <form class="col s12" ng-submit="create_topic(topic_data);">
            <div class="row">
                <div class="input-field col s12">
                    <input id="topic_name" ng-model="topic_data.name" type="text" class="validate">
                    <label for="topic_name">Topic Name</label>
                </div>
            </div>

            <label>
                <input ng-model="topic_data.is_active" ng-init="topic_data.is_active = true;" type="checkbox" />
                <span>Active</span>
            </label><br><br>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" ng-model="topic_data.description" class="validate materialize-textarea"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 chips" id="dependencies_topics"></div>
            </div>

            <div class="row">
                <div class="col s6">
                    <button type="submit" class="col s12 waves-effect waves-green btn-flat">Create</button>
                </div>
                <div class="col s6">
                    <button type="reset" ng-click="back_to_parent_category();" class="col s12 waves-effect waves-red btn-flat">Cancel</button>
                </div>
            </div>
        </form>
    </div>
<% } %>